[submodule "cli"]
	path = cli
	url = git@github.com:KNPSystem/cli.git
[submodule "web"]
	path = web
	url = git@github.com:KNPSystem/web.git
[submodule "server"]
	path = server
	url = git@github.com:KNPSystem/server.git
